<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Technical Dashboard</title>
  </head>
  <body>
    <form action="/admin/technical/createTechnicalQuestion" method="post">
      <input
        type="text"
        placeholder="Add a new technical question"
        name="addTechnicalQuestion"
      />
      <input
        type="text"
        placeholder="Add explanation"
        name="explanationAnswer"
      />
      <input type="text" placeholder="The use" name="useAnswer" />
      <input type="text" placeholder="Add an example" name="exampleAnswer" />
      <input
        type="url"
        placeholder="Add a link for reference"
        name="linkAnswer"
      />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
