<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Banki Warrior</title>
  </head>
  <body>
    <header>
      <nav>
        <img src="#" alt="" />
        <a href="/admin">Admin</a>
      </nav>
    </header>
    <h1>Welcome to Banki Warriors</h1>
    <div class="getRandomQuestion-btn">
      <a href="#">Get Random Behhavioral Question</a>
    </div>
    <section class="questionBox">
      <p>
        <%=
        behavioralQuestions[Math.floor(Math.random()*behavioralQuestions.length)].behavioralQuestion%>
      </p>
    </section>
  </body>
</html>
