<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Banki Warrior</title>
  </head>
  <body>
    <form action="/addAnswer" method="POST">
      <input type="text" placeholder="Cause" name="causeAnswer" />
      <input type="text" placeholder="Action" name="actionAnswer" />
      <input type="text" placeholder="Result" name="resultAnswer" />
      <input type="submit" />
    </form>
  </body>
</html>
